<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cheap Air</title>
</head>		  
<body>
	<div th:switch="${flights}">
	    <h2 th:case="null">No flights yet</h2>
	        <div th:case="*">
	            <h2>Flights available</h2>        
	            <table>
	                <thead>
						<tr>
							<th class="font8px" style="width: 10%;">IdFlight</th>
							<th class="font8px" style="width: 14%;">OriginLocationCode</th>
							<th class="font8px" style="width: 14%;">DestinationLocationCode</th>
							<th class="font8px" style="width: 14%;">DepartureDate</th>
							<th class="font8px" style="width: 14%;">ReturnDate</th>
							<th class="font8px" style="width: 10%;">NumberOfStops</th>
							<th class="font8px" style="width: 14%;">Price</th>
							<th class="font8px" style="width: 10%;">Currency</th>
						</tr>	                
	                </thead>
	                <tbody>
	                <tr th:each="flight : ${flights}">
	                    <td th:text="${flight.idFlight}"></td>
	                    <td th:text="${flight.originLocationCode}"></td>
	                    <td th:text="${flight.destinationLocationCode}"></td>
	                    <td th:text="${flight.departureDate}"></td>
	                    <td th:text="${flight.returnDate}"></td>
	                    <td th:text="${flight.numberOfStops}"></td>
	                    <td th:text="${flight.price}"></td>	    
	                    <td th:text="${flight.currency}"></td>	                                    	                    	                    	                    
	                </tr>
	            </tbody>
	        </table>
	    </div>      
	</div>
	
</body>	  	  
</html>	  