<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Cheap Air</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	 
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
		
</head>		  
<body>

	<form action="#" th:action="@{/searchFlights}" th:object="${flightSearchRequestBody}" method="post">
	
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><label for="departureDate">DepartureDate   // e.g. 11/30/2022</label></td>
					<td><input type="date" size="30" th:field="*{departureDate}" id="departureDate" placeholder="DepartureDate"></td>
					
					<td><label for="returnDate">ReturnDate   // e.g. 11/30/2022</label></td>
					<td><input type="date" size="30" th:field="*{returnDate}" id="returnDate" placeholder="ReturnDate"></td>					
				</tr>				
				<tr>
					<td><label for="originLocationCode">OriginCode   // e.g. SYD, Zagreb</label></td>
					<td><input type="text" th:field="*{originLocationCode}" id="originLocationCode" placeholder="OriginCode"></td>
					
					<td><label for="destinationLocationCode">DestinationCode   // e.g. BBK, Berlin</label></td>
					<td><input type="text" th:field="*{destinationLocationCode}" id="destinationLocationCode" placeholder="DestinationCode"></td>					
				</tr>	
				<tr>
					<td><label for="currency">Currency ISO 4217   // e.g. EUR</label></td>
					<td><input type="text" th:field="*{currency}" id="currency" placeholder="Currency"></td>
					
					<td><label for="numberOfPassengers">NumberOfPassengers   //  e.g. 1</label></td>
					<td><input type="text" th:field="*{numberOfPassengers}" id="numberOfPassengers" placeholder="NumberOfPassengers"></td>					
				</tr>
				<tr>
					<td><label for="max">FetchMaxFlights   // e.g. 10</label></td>
					<td><input type="text" th:field="*{max}" id="max" placeholder="Max"></td>
					
					<td><input type="submit" value="Search flights">  </td>					
				</tr>												
												
			</tbody>						
		</table>
      	    	       
	</form>
	<div th:switch="${flights}">
	    <div>
	    	<span class="exception-message" th:if="${exception != null}" th:text="${exception.message}">Static summary</span>
	    </div>
	        <div th:case="*">
	            <h2>Flights available</h2>        
	            <table  id="myTable" class="table table-striped">
	                <thead>
						<tr class="bg-info">
							<th>IdFlight</th>
							<th>OriginLocationCode</th>
							<th>DestinationLocationCode</th>
							<th>DepartureDate</th>
							<th>ReturnDate</th>
							<th>NumberOfStops</th>
							<th>Price</th>
							<th>Currency</th>
						</tr>	                
	                </thead>
	                <tbody>
	                <tr th:each="flight : ${flights}">
	                    <td th:text="${flight.idFlight}"></td>
	                    <td th:text="${flight.originLocationCode}"></td>
	                    <td th:text="${flight.destinationLocationCode}"></td>
	                    <td th:text="${flight.departureDate}"></td>
	                    <td th:text="${flight.returnDate}"></td>
	                    <td th:text="${flight.numberOfStops}"></td>
	                    <td th:text="${flight.price}"></td>	    
	                    <td th:text="${flight.currency}"></td>	                                    	                    	                    	                    
	                </tr>
	            </tbody>
	        </table>
	    </div>      
	</div>	
		
	<script>
	$(document).ready(function(){
		$("#myTable").dataTable();
	});		
</script>	
</body>	


<style>

.exception-message{
	color:red;
}

th{ 
	color:#fff;
}
</style>


	
</html>	  

